@model hmvtrust.core.Entities.Member
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger alert-dark alert-page">
            @ViewBag.Error
        </div>

    }
}
<div class="container-fluid flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body pt-2 ml-3">
                            <div class="page-item">
                                <h4 class="m-t-0 header-title" style="padding-top:10px;"><i class="fa fa-user-edit page-header-icon"></i>&nbsp;&nbsp;Member Details</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body p-2">
                    <form action="~/member/edit" method="post" enctype="multipart/form-data">
                        <table class="table">
                            <tr>
                                <td>Branch Name*</td>
                                <td>Member Type*</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="MemberType"></label>
                                        @Html.HiddenFor(model => model.BranchId.BranchName)
                                        @Html.DropDownListFor(model => model.BranchId.Id, new SelectList(ViewBag.Branch, "Id", "BranchName", Model.BranchId != null ? Model.BranchId.Id : 0), "Select BranchName", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BranchId.Id, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="MemberType"></label>
                                        @Html.HiddenFor(model => model.MemberTypeId.MemberTypeName)
                                        @Html.DropDownListFor(model => model.MemberTypeId.Id, new SelectList(ViewBag.MemberType, "Id", "MemberTypeName", Model.MemberTypeId != null ? Model.MemberTypeId.Id : 0), "Select MemberType", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MemberTypeId.Id, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="table">
                            <tr>
                                <td>Family Number*</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div>
                                            @Html.HiddenFor(model => model.Id)
                                            @Html.EditorFor(model => model.FamilyNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter FamilyNo" } })
                                            @Html.ValidationMessageFor(model => model.FamilyNo, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Member Name*</td>
                                <td>DateOfBirth</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div>
                                            @Html.EditorFor(model => model.MemberName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter MemberName" } })
                                            @Html.ValidationMessageFor(model => model.MemberName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div>
                                            @Html.EditorFor(model => model.DateofBirth, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter DateofBirth" } })
                                            @Html.ValidationMessageFor(model => model.DateofBirth, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>Age</td>
                                <td>Photo</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="editor-field">
                                            @Html.DropDownList("Gender", new List<SelectListItem>
                                               {
                                                   new SelectListItem{ Text="Male", Value="Male"},
                                                   new SelectListItem{ Text="Female", Value="Female"}
                                               }, "Select Gender", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div>
                                            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Age" } })
                                            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-3" style="padding:10px;">
                                        <img width="128" height="128" src="~/Media/MEMBERPHOTO/@(Model.Photo)" id="mempho" />
                                        <br />
                                        <br />
                                        <input type="file" name="memberphoto" accept=".jpg" id="memberphoto" />
                                    </div>
                                </td>
                            </tr>
                            <tr>Blood Group</tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="editor-field">
                                            @Html.DropDownList("BloodGroup", new List<SelectListItem>
                                               {
                                                   new SelectListItem{ Text="A RhD positive (A+)", Value="A RhD positive (A+)"},
                                                   new SelectListItem{ Text="A RhD negative (A-)", Value="A RhD negative (A-)"},
                                                   new SelectListItem{ Text="B RhD positive (B+)", Value="B RhD positive (B+)"},
                                                   new SelectListItem{ Text="B RhD negative (B-)", Value="B RhD negative (B-)"},
                                                   new SelectListItem{ Text="O RhD positive (O+)", Value="O RhD positive (O+)"},
                                                   new SelectListItem{ Text="O RhD negative (O-)", Value="O RhD negative (O-)"},
                                                   new SelectListItem{ Text="AB RhD positive (AB+)", Value="AB RhD positive (AB+)"},
                                                   new SelectListItem{ Text="AB RhD negative (AB-)", Value="AB RhD negative (AB-)"}
                                               }, "Select BloodGroup", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>MobileNumber*</td>
                                <td>Alternate MobileNumber</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div>
                                            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter MobileNo", @autocomplete = "off", @Pattern = @"^[0-9]+$", @title = "Mobile number must be a 10 digit number", @maxlength = "10", @minlength = "10" } })
                                            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div>
                                            @Html.EditorFor(model => model.AlternateMobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter AlternateMobileNo", @autocomplete = "off", @Pattern = @"^[0-9]+$", @title = "Mobile number must be a 10 digit number", @maxlength = "10", @minlength = "10" } })
                                            @Html.ValidationMessageFor(model => model.AlternateMobileNo, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Email</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="form-group">
                            <div>
                                <label for="address">Address Details</label>
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group text-right m-b-0">
                            <button class="btn btn-primary waves-effect waves-light" type="submit">
                                <span class="btn-label icon fa fa-save"></span>&nbsp;&nbsp; Submit
                            </button>
                            <a href="~/member/list" class="btn btn-labeled btn-danger" type="reset">
                                <span class="btn-label icon fa fa-window-close"></span>&nbsp;&nbsp; Cancel
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

        $(function () {
        $('#memberphoto').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#mempho').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#mempho').attr('src', '~/assets/images/Noimages.png');
            }
        });

    });

</script>

